In [2]:
import pandas as pd

In [3]:
table1 = pd.read_csv("table1.csv")

In [4]:
table2 = pd.read_csv("table2.csv")

In [5]:
table2.id = 0

In [6]:
print(table2.id)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
Name: id, dtype: int64

In [7]:
print(table1.id)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
Name: id, dtype: int64

In [8]:
print(table1[table1.id == 8])

   id letra
8   8     i

In [9]:
for x in range(len(table1)):
    for j in range(len(table2)):
        if(table2.id[x] == table1.id[j]):
            print(str(table2.id[x]) + " é igual, " + str(table1.id[j]))

0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0
0 é igual, 0

In [10]:
new_table = {}

In [11]:
for x in range(len(table1)):
    for j in range(len(table2)):        
        if(table2.id[x] == table1.id[j]):
            print(str(table2.letra[x]))

h
t
g
f
c
s
e
q
z
x
c

In [33]:
import matplotlib.pyplot as plt

In [63]:
yu = {}
ko = {}

In [87]:
for x in range(len(table1)):
    for j in range(len(table2)):        
        if(table2.id[x] == table1.id[j]):
            #print(str(table2.letra[x]))
            #yu[0] = {'letras':table2.letra[x]}
            ko = {'letras': ['' + str(table2.letra[x])]
                 ,'id':['' + str(table2.id[x])]}
print(ko)

{'letras': ['c'], 'id': ['0']}

In [74]:
import matplotlib.pyplot as plt
%matplotlib inline

In [88]:
xu = pd.read_csv('table2.csv')

df = pd.DataFrame(ko, columns= ['letras', 'id'])

df.to_csv ('adataframe.csv', index = False, header=True)
print(ko)

{'letras': ['c'], 'id': ['0']}